@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
  }

body{
    background-color: lightsalmon;
    
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
   
}

section{
    margin-bottom: 20px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: grid;
}


header h1{
    border: 1px solid;
    width: 180px;
    background-color: whitesmoke;
}

header{
    display: grid;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

/*First Paragraph*/

#firstp section{
    display: grid;
    border: 1px solid;
    width: 420px;
    background-color: whitesmoke;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

#firstp h2{
    text-align: center;
}


/*Third Paragraph*/

#thirdp section{
    display: grid;
    border: 1px solid;
    width: 420px;
    background-color: whitesmoke;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

#thirdp h2{
    text-align: center;
 
}


/*Fifth Paragraph*/

#fifthp section{
    display: grid;
    border: 1px solid;
    width: 420px;
    background-color: whitesmoke;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

#fifthp h2{
    text-align: center;
}

/*Sixth Paragraph*/

